.contact{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background:
    linear-gradient(
        to right,
        rgba($primary-color, 1),
        rgba($primary-color, 0.6),
    ),
    url(../dist/image/model-1.jpg) center top;
    background-size: cover;

    h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
     &_list{
         display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    .social-icons{
        position: initial;
        margin-top: 2rem;
    }
}