* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  text-align: center;
  align-items: center;
  background: linear-gradient(to right, #4d194d, rgba(77, 25, 77, 0.6)), url(../dist/image/model-1.jpg) center top;
  background-size: cover;
}
.home_name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff1e6;
}
.home_name--last {
  color: #bf0603;
  font-weight: 700;
}

.menu-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #bf0603;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before {
  content: "";
  position: absolute;
  right: 0;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #bf0603;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #bf0603;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn_burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn_burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #4d194d;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav_item {
  transform: translateX(5vw);
  transition: all 0.5s ease-in-out;
  color: #fff1e6;
}
.nav .menu-nav_item.open {
  transform: translateY(0vw);
}
.nav .menu-nav_item.active > a {
  color: #00ffe7;
}
.nav .menu-nav_link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav_link:hover {
  color: #ffcc00;
}

.menu-nav_item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  transition-delay: 0.55s;
}

.about {
  padding-bottom: 2rem;
}
.about_bio-image {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, #4d194d, rgba(77, 25, 77, 0.6)), url(../dist/image/model-1.jpg) center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about_bio-image p {
  margin-bottom: 2rem;
}
.about_bio {
  width: 80%;
  text-align: center;
}
.about_bio .text-secondary {
  padding-bottom: 2rem;
}
.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .jobs_job {
  background: #742674;
  padding: 0.5rem;
  border-bottom: 5px solid #ff8811;
}
.about .jobs_job h2, .about .jobs_job h3 {
  margin: 0.5rem 0;
}
.about .jobs_job h6 {
  margin: 0.3rem 0;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}
.about footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects {
  padding-bottom: 2rem;
}
.projects_bio-image {
  height: 30vh;
  width: 100%;
  background: linear-gradient(to right, #4d194d, rgba(77, 25, 77, 0.6)), url(../dist/image/model-1.jpg) center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.projects_bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects_items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.projects_item {
  position: relative;
  border-bottom: 5px solid #ff8811;
  overflow: hidden;
  cursor: pointer;
}
.projects_item img {
  width: 100%;
}
.projects_item::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff8811;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.projects_item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects .social-icons {
  display: flex;
  flex-direction: column;
}
.projects footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #4d194d, rgba(77, 25, 77, 0.6)), url(../dist/image/model-1.jpg) center top;
  background-size: cover;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav_link {
    font-size: 1.5rem;
  }
  .about_bio {
    font-size: 1.5rem;
  }
  .projects_bio-image {
    height: 40vh;
  }
  .projects_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .contact_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1080px) {
  .projects_items {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1600px) {
  .projects_bio-image {
    height: 50vh;
  }
}
body {
  background: #4d194d;
  color: #fff1e6;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 500;
}

a {
  color: #fff1e6;
  text-decoration: none;
}

.text-secondary {
  color: #ffcc00;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  width: 100%;
  height: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
}
main .social-icons a:hover {
  color: #ffcc00;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff1e6;
}/*# sourceMappingURL=main.css.map */